@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .banner-box {
    width: 100%;
  }
  .banner-box h1 {
    font-size: 30px;
  }
  .vr-content h2{
    font-size: 30px;
  }
  .vr-content p{
    text-align: center;
    font-size: 14px;
  }
  .footer-container{
    flex-direction: column;
    gap: 50px;
  }
  .footer-links{
    align-items: center;
  }
  .quick-links {
    flex-direction: column;
  }
  .social-links{
    align-items: center;
  }
  .social-links .copyrights{
    font-size: 8px;
  }
  .img-gallery{
    grid-template-columns: repeat(1,1fr);
  }
  .img-box{
    height: 160px;
  }
  .creation{
    position: relative;
  }
  .title button{
    position: absolute;
    bottom: 30px;
    left: 50%   ;
    transform: translate(-50%,0);
  }
  .vr-img {
    /* grid-row: 1; */
    grid-column: 1 /  -1;
    z-index: 10;
  }
  /* .vr-img img {
    width: 100%;
    display: block;
    object-fit: cover;
  } */
  .vr-content {
    /* grid-row: 1; */
    grid-column: 1 / -1;
    /* z-index: 2; */
    /* background-color: white; */
    margin-top: 200px;
    padding: 0;
  }
  .title h2{
    font-size: 30px;
  }
  
}
